/* (min-width: 341px) and (max-width: 480px) */
.item_title{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 39px;
    row-gap: 15px;
    font-size: 21px;
    text-align: center;
    padding-top:15px ;
    padding-bottom: 0px;
}
.item_title > .title_card{
    border:  solid 2px #989898;
}
.item_article_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-rows: 250px;
    column-gap: 12px;
    row-gap: 12px;
    font-size: 10px;
}
.item_article_card > a{
    position: relative;
    padding: 10px;
    border:  solid 1px #989898;
}

.item_article_card > a > div{
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;
}

img {
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px #989898;
}

@media (max-width:340px){
    .item_article_card{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-auto-rows: 150px;
        column-gap: 12px;
        row-gap: 12px;
        font-size: 10px;
    }
    .item_article_card > a > div{
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
        overflow-wrap: break-word;
        padding-left: 140px;
        padding-top: 10px;
    }
    
}

@media (min-width: 600px) {
    .item_title{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 70px;
        row-gap: 15px;
        font-size: 38px;
        text-align: center;
        padding-top:15px ;
        padding-bottom: 0px;
    }
    .item_title > .title_card{
        border:  solid 3px #989898;
    }
    .item_article_card{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        grid-auto-rows: 250px;
        column-gap: 12px;
        row-gap: 12px;
        font-size: 10px;
    }
    .item_article_card > a{
        position: relative;
        padding: 10px;
        border:  solid 2px #989898;
    }
    
}
